body{
  width: 480px;
}

div{
  background-color: lightgreen;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: 480px;
}

main{
  display: flex;
  flex-direction: column;

}
section{
  display: flex;
  flex-wrap: wrap;
  
}

main > div:nth-child(1)
{
  height: 75px;
  line-height: 75px;
  background-color: orange;
}

main > div:nth-child(2)
{
  height: 150px;
  line-height: 150px;
  background-color: orangered;
}

main > div:nth-child(3),
main > div:nth-child(4)
{
  height: 125px;
  line-height: 125px;
  background-color: palegoldenrod;
}

/* main > div:nth-child(5),
main > div:nth-child(7){
  height: 250px;
  width: 240px;
  line-height: 250px;
  background-color: rgb(107, 119, 107);
  flex-wrap: wrap;
  margin-left: auto;
  
}
main > div:nth-child(6),
main > div:nth-child(8){
  height: 250px;
  width: 240px;
  line-height: 250px;
  background-color: rgb(107, 119, 107);
  flex-wrap: wrap;
  
} */


section > div{
  height: 250px;
  width: 240px;
  line-height: 250px;
  background-color: rgb(107, 119, 107);
}

main > div:last-of-type
{
  height: 80px;
  line-height: 80px;
  background-color: plum;
}

/* ================ Desktop ============= */

@media only screen and (min-width:768px){







  /* /* ============= flex attempt ================== */
  body{
    width: 960px;
    margin: auto;
  }
  div{
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  
  main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  
  }
  section{
    /* display: flex; */
    /* margin-left: auto; */
    justify-content: flex-end;
    flex-wrap: wrap;
    

    
    
  }
  
  main > div:nth-child(1)
  {
    height: 100px;
    width: 960px;
    line-height: 100px;
    background-color: powderblue;
    
  }
  
  /* main > div:nth-child(2) */
  #b
  {
    height: 600px;
    width: 200px;
    line-height: 600px;
    background-color: rgb(174, 0, 255);
  
    
  }
  
  /* main > div:nth-child(3),
  main > div:nth-child(4) */
  .cd
  {
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: purple;
   
  }
  
  /* section > div */
  .efgh
  {
    height: 250px;
    width: 190px;
    line-height: 250px;
    background-color: sandybrown;
  
  }
  
  main > div:last-of-type
  {
    width: 960px;
    height: 150px;
    line-height: 150px;
    background-color: springgreen;
    
/* ============ original =================  */
  /*
  div{ 
    background-color:  lightblue;
    border: 1px solid black;
    padding: 0px;
    text-align: center;
    width: 960px;
  }
  
  #a{
    height: 100px;
    line-height: 100px;
  }
  
  #b{
    height: 600px;
    width: 200px;
    line-height: 600px;
    float: left;
  }
  
  .cd{
    height: 200px;
    width: 380px;
    line-height: 200px;
    float: left;
  }
  
  .efgh{
    height: 250px;
    width: 190px;
    float: left;
    line-height: 250px;
  }
  
  #wrapper{
    border: none;
    padding: 0;
  }
  
  #i{
    height: 150px;
    width: 760px;
    float: right;
    clear: right;
    line-height: 150px;
  }  */




}